flow/ButtonControl_LED_PSoC6.json
[
    {
        "id": "21c051e3f2c4fd8b",
        "type": "tab",
        "label": "Button control LED PSoC6 ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e1aa1920c053860d",
        "type": "mqtt out",
        "z": "21c051e3f2c4fd8b",
        "name": "",
        "topic": "PSoC6Status",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d5cfad5.2fc08",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "dd16a9ad869aff19",
        "type": "ui_button",
        "z": "21c051e3f2c4fd8b",
        "name": "SW2 ON",
        "group": "7533b08edc51e1dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TURN ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "e1aa1920c053860d",
                "37b1617c19c731b6"
            ]
        ]
    },
    {
        "id": "3e5afcb5a3b75b77",
        "type": "ui_button",
        "z": "21c051e3f2c4fd8b",
        "name": "SW2 OFF",
        "group": "7533b08edc51e1dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TURN OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "e1aa1920c053860d",
                "15c529dd65384088"
            ]
        ]
    },
    {
        "id": "15c529dd65384088",
        "type": "debug",
        "z": "21c051e3f2c4fd8b",
        "name": "debug LED OFF",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "37b1617c19c731b6",
        "type": "debug",
        "z": "21c051e3f2c4fd8b",
        "name": "debug LED ON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "8d5cfad5.2fc08",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "tls": "1dc45291e8d66f6b",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "10",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {}
    },
    {
        "id": "7533b08edc51e1dc",
        "type": "ui_group",
        "name": "BUTTON ",
        "tab": "f69053f849010527",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1dc45291e8d66f6b",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client.crt",
        "keyname": "client.key",
        "caname": "mosquitto.org.crt",
        "servername": "test.mosquitto.org",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "f69053f849010527",
        "type": "ui_tab",
        "name": "Infineon PSoC6",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]